<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" 
           Name="Treefrog Map Editor" 
           Language="1033" 
           Version="0.9.1.0" 
           Manufacturer="Treefrog" 
           UpgradeCode="54df5b12-e0ee-4a46-977c-aef4d0e57d57">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes" />

    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR"/>
    <UIRef Id="WixUI_InstallDir" />

    <WixVariable Id="WixUILicenseRtf" Value="../Staging/License.rtf" />

    <Icon Id="I.MainIcon" SourceFile="../Staging/Game.ico" />
    <Property Id="ARPPRODUCTICON" Value="I.MainIcon" />

    <Feature Id="F.MainApplication" Title="Treefrog Map Editor" Level="1">
      <ComponentGroupRef Id="CG.StartMenu" />
      <ComponentGroupRef Id="CG.ProductComponents" />
    </Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramMenuFolder">
        <Directory Id="D.StartFolder" Name="Treefrog Editor" />
      </Directory>
			<Directory Id="ProgramFilesFolder">
				<Directory Id="INSTALLDIR" Name="Treefrog Editor" />
			</Directory>
		</Directory>

    <ComponentGroup Id="CG.StartMenu" Directory="D.StartFolder">
      <Component Id="C.TLShortcut" Guid="*">
        <Shortcut Id="S.TLShortcut"
                  Name="Treefrog Map Editor"
                  Target="[INSTALLDIR]Treefrog.exe"
                  WorkingDirectory="INSTALLDIR" />
        <RemoveFolder Id="RF.StartFolder" On="uninstall" />
        <RegistryValue Id="RV.TLShortcut" Root="HKCU" Key="Software\Treefrog" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
      <Component Id="C.Uninstall" Guid="*">
        <Shortcut Id="S.Uninstall"
                  Name="Uninstall Treefrog"
                  Target="[SystemFolder]msiexec.exe"
                  Arguments="/x [ProductCode]"
                  Description="Uninstalls the Treefrog Map Editor" />
        <RemoveFolder Id="RF.Uninstall" On ="uninstall" />
        <RegistryValue Id="RV.Uninstall" Root="HKCU" Key="Software\Treefrog" Name="uninstall" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </ComponentGroup>

		<ComponentGroup Id="CG.ProductComponents" Directory="INSTALLDIR">
      <Component Id="C.LilyPath.dll" Guid="*">
        <File Source="../Staging/LilyPath.dll" KeyPath="yes" />
      </Component>
      <Component Id="C.MonoGame.Framework.dll" Guid="*">
        <File Source="../Staging/MonoGame.Framework.dll" KeyPath="yes" />
      </Component>
      <Component Id="C.OpenTK.dll" Guid="*">
        <File Source="../Staging/OpenTK.dll" KeyPath="yes" />
      </Component>
      <Component Id="C.OpenTK.GLControl.dll" Guid="*">
        <File Source="../Staging/OpenTK.GLControl.dll" KeyPath="yes" />
      </Component>
      <Component Id="C.Treefrog.exe" Guid="*">
        <File Source="../Staging/Treefrog.exe" KeyPath="yes" />
      </Component>
      <Component Id="C.Treefrog.exe.config" Guid="*">
        <File Source="../Staging/Treefrog.exe.config" KeyPath="yes" />
      </Component>
      <Component Id="C.Treefrog.Framework.dll" Guid="*">
        <File Source="../Staging/Treefrog.Framework.dll" KeyPath="yes" />
      </Component>
      <Component Id="C.Examples.StarMaze.tlp" Guid="*">
        <File Source="../Staging/Examples/StarMaze.tlp" KeyPath="yes" />
      </Component>
		</ComponentGroup>
	</Fragment>
</Wix>