<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<system.diagnostics>
    <switches>
      <add name="XmlSerialization.Compilation" value="1" />
    </switches>
  </system.diagnostics>
  <system.xml.serialization>
    <xmlSerializer tempFilesLocation="E:\\Workspace\\Managed\\Game\\Treefrog\\Generated"/>
  </system.xml.serialization>-->
</configuration>